beautifulsoup4==4.9.1
brotlipy==0.7.0
certifi==2020.4.5.2
cffi==1.14.0
chardet==3.0.4
cryptography==3.2
cycler==0.10.0
idna==2.9
kiwisolver==1.2.0
lxml==4.5.0
matplotlib==3.2.1
mkl-fft==1.1.0
mkl-random==1.1.1
mkl-service==2.3.0
multitasking==0.0.9
numpy==1.18.1
pandas==1.0.4
pycparser==2.20
pyOpenSSL==19.1.0
pyparsing==2.4.7
PySocks==1.7.1
python-dateutil==2.8.1
pytz==2020.1
requests==2.23.0
requests-futures==1.0.0
selenium==3.141.0
six==1.15.0
soupsieve==2.0.1
tornado==6.0.4
tqdm==4.46.1
urllib3==1.25.9
win-inet-pton==1.1.0
wincertstore==0.2
yahooquery==2.2.4
yfinance==0.1.54